Package: djl-utils
Version: 0.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Depends: tclsh, ssh-client, imagemagick
Installed-Size: 1024
Maintainer: Dylan Lom <djl@dylanlom.com>
Description: Various scripts

